html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #82b1ff !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
 .navbar:not(.top-nav-collapse) {
  background: #82b1ff !important;
 }
}

h5 {
  letter-spacing: 3px;
}

.ocarina{
   
    
    color: white;
    font-size: 26px;
   
}

.pricing-card{

    background-color: #28283F;
    border-radius: 30px 30px 0px 0px;
    
}

.topoCartaoPreco{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-radius: 30px 30px 0px 0px;
    
    
}

ul{
    list-style-type: none;
}


.card-body-basic ul li{
    border-bottom:1px solid #33C28A;
    margin-top: 10px;
}

.card-body-intermediate ul li{
    border-bottom:1px solid #E97D63;
    margin-top: 10px;
}

.card-body-top ul li{
    border-bottom:1px solid #963C94;
    margin-top: 10px;
}

.btn-rounded{
    border-radius: 50px;
}
.btn-rounded :hover{
    color:black;
    background-color: white;
}
